USE [master]
GO
/****** Object:  Database [Weather]    Script Date: 09-01-2026 09:29:02 ******/
CREATE DATABASE [Weather]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Weather', FILENAME = N'C:\Users\HP\Weather.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Weather_log', FILENAME = N'C:\Users\HP\Weather_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Weather].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Weather]
GO
/****** Object:  Table [dbo].[logs_tbl]    Script Date: 09-01-2026 09:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[login_date] [datetime] NULL,
	[Remarks] [varchar](50) NULL,
 CONSTRAINT [PK_logs_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[weather_data_tbl]    Script Date: 09-01-2026 09:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weather_data_tbl](
	[w_id] [int] IDENTITY(1,1) NOT NULL,
	[Minimum_temp] [float] NOT NULL,
	[Maximum_temp] [float] NOT NULL,
	[humidity] [int] NOT NULL,
	[logid] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_weather_data_tbl] PRIMARY KEY CLUSTERED 
(
	[w_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weatherlog]    Script Date: 09-01-2026 09:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weatherlog](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[w_id] [int] NULL,
	[ChangedBy] [nvarchar](100) NULL,
	[ChangeType] [nvarchar](100) NULL,
	[OldValue] [nvarchar](255) NULL,
	[NewValue] [nvarchar](255) NULL,
	[ChangedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Weatherlog] ADD  DEFAULT (getdate()) FOR [ChangedOn]
GO
/****** Object:  StoredProcedure [dbo].[Get_WeatherDetailsp]    Script Date: 09-01-2026 09:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Get_WeatherDetailsp]
	 @logid int
AS
BEGIN

	SET NOCOUNT ON;

	select w.humidity,w.Maximum_temp,w.Minimum_temp,w.date,w.w_id from weather_data_tbl w left join logs_tbl l on l.id=w.logid where w.logid=@logid
END
GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 09-01-2026 09:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nishita>
-- Create date: <07-01-2025>
-- Description:	<To login>
-- =============================================
CREATE PROCEDURE [dbo].[LoginUser]
	@username varchar(100),
	@password varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    if EXISTS (select 1 from logs_tbl where username=@username)
	BEGIN
	   if exists (Select 1 from logs_tbl where username=@username and password=@password)
	   BEGIN
	         update logs_tbl set login_date=GETDATE() where username=@username
			 select id as result from logs_tbl where username=@username and password=@password
	   END
	   else
	      select 0 as result;
	   
	END
	else
	BEGIN
	   select -1 as result;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[Save_Weathersp]    Script Date: 09-01-2026 09:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nishita>
-- Create date: <08-01-2025>
-- Description:	<to save weather data,,>
-- =============================================
CREATE PROCEDURE [dbo].[Save_Weathersp]
	@minimum_temp float,
	@maximum_temp float,
	@humidity int,
	@logid int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    insert into weather_data_tbl(Minimum_temp,Maximum_temp,humidity,date,logid) values(@minimum_temp,@maximum_temp,@humidity,GETDATE(),@logid)
	select 1 as result;
END
GO
/****** Object:  StoredProcedure [dbo].[Update_WeatherDetails]    Script Date: 09-01-2026 09:29:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_WeatherDetails]
	@w_id int,
	@minTemp float,
	@maxTemp float,
	@humidity int,
	@date date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	update weather_data_tbl set Minimum_temp=@minTemp,Maximum_temp=@maxTemp,humidity=@humidity,date=@date where w_id=@w_id
 
END
GO
USE [master]
GO
